<template>
  <div id="mrk-injection">
  </div>
</template>

<script>

  export default {
    name: 'WriteArea',
    data () {
      return {

      }
    }
  }

</script>

<style scoped>

  #mrk-injection {
    background-color: aliceblue;
    width: 300px;
    height: 500px;
  }

</style>
