<template>
  <div>
    <h1>Top Section</h1>
  </div>
</template>

<script>

  export default {
    name: 'TopSection',
    data () {
      return {
        msg: 'Welcome to Your Vue.js App'
      }
    }
  }

</script>

<style>

</style>
