<template>
  <div>
    <textarea name="textarea1" id="txtid" cols="50" rows="30"></textarea>
  </div>
</template>

<script>

  export default {
    name: 'WriteArea',
    data () {
      return {

      }
    }
  }

</script>

<style>

</style>
