<template>
  <div id="app">

    <top-section></top-section>

    <!--Integration issue was that export.components NEEDED to be in an object, even if just 1-->


    <img src="./assets/logo.png">
    <h1>Test</h1>

    <write-area></write-area>
    <markdown-previewer></markdown-previewer>

    <!--<router-view></router-view>-->
  </div>
</template>

<!--
1. Vue loads the index file, showing App.vue through injection
2. Vue router also loads. It shows App.vue on the / route
3. Turning off Vue router fixed the dup. I don't need it yet
-->


<script>
  import TopSection from './components/TopSection.vue'
  import WriteArea from './components/WriteArea.vue'
  import MarkdownPreviewer from './components/MarkdownPreviewer.vue'

  export default { // all components need to be exported for conversion into real files
    name: 'app',
    components: {
      TopSection,
      WriteArea,
      MarkdownPreviewer
    }
  }
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*text-align: center;*/
  color: #2c3e50;
  margin-top: 60px;
}

top-section {
  text-align: center;
  font-style: italic;
}

</style>
